	.a{
		height:120px;
		width:200px;
		margin-left:3%;
		float:left;
	}
	.b{
		margin-left:19%;
		font-size:20px;
		font-weight:bold;
		color:white;
	}
	.c{
		margin-left:5%;
		font-size:20px;
		font-weight:bold;
		color:white
	}
	.d{
		margin-top:3%;
		width:1000px;
		height:100%;
		float:right
	}
	.head{
		height:100%;
		width:100%;
		float:left;
		background-color:#6FDCE3
	}
	.body{
		height:100%;
		width:88%;
		margin-left:5%;
		margin-right:5%;
		background-color:#F4F9F9;
		float:left;
		margin-top:1%;
		padding:1% 1% 1% 1%
	}
	.iframe{
		margin-left:5%
	}
	.div{
		font-size:20px;
		font-weight:bold;
		border:1px;
		border-radius:5px;
		padding:1% 1% 1% 1%;
		background-color:white;
	}
	.youtube{
		height:100%;
		width:88%;
		margin-left:5%;
		margin-right:5%;
		padding:1% 1% 1% 1%;
		margin-top:3%;
		float:left;
		background-color:#F4F9F9;
	}
	.gh{
		margin-left:15%
	}
	.jk{
		text-decoration:none
	}
	.gg{
		margin-top:3%;
		float:left
	}
	#z{}
	#y{}
	#x{}
	#w{}